body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('whitegoo.png');
    background-repeat: no-repeat;
  background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    background-image: url('whitegoo.png');
    background-repeat: repeat;
  background-attachment: fixed;
   background-position: center;
   background-size: cover;
   opacity: 0.80;
}


h1 {
    margin-bottom: 20px;
}

.todo .task {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.toggle-btn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.toggle-btn.off {
    background-color: #f44336;
}

.toggle-btn.on {
    background-color: #4CAF50;
}
